<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MabiCooker2.Properties.Settings.MabiCookerConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MabiCooker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>